.chatting-screen {
  background-color: #abc1d1;
  height: auto;
}
.chatting-screen .alt-header {
  background-color: #abc1d1;
  z-index: 1;
}
.chatting-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes downtime {
  0% {
    transform: translateY(-300px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: none;
  }
}

.main-chat-timestamp {
  background-color: #92a4b2;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
  animation: downtime 1s ease-in-out;
}
@keyframes messageon {
  0% {
    transform: translateX(-300px);
  }
  75% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: none;
  }
}
@keyframes messageon-own {
  0% {
    transform: translateX(300px);
  }
  75% {
    transform: translateX(-20px) scale(1.2);
  }
  100% {
    transform: none;
  }
}
.message-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  animation: messageon 1.5s ease-in-out;
}
.message-row-own {
  justify-content: flex-end;
  animation: messageon-own 1.5s ease-in-out;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-right: 12px;
}

.message-author {
  font-size: 18px;
  color: #69757e;
  display: block;
  margin-bottom: 8px;
}
.message-info {
  display: flex;
  align-items: flex-end;
}
.message-bubble {
  padding: 12px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.message-row-own .message-bubble {
  border-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 10px;
  background-color: yellow;
}
.message-time {
  color: #69757e;
  font-size: 15px;
}
.message-row-own .message-info {
  flex-direction: row-reverse;
}

.reply {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  padding: 5px 15px;
  position: fixed;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.reply__column:first-child {
  width: 10%;
}
.reply__column:last-child {
  width: 90%;
}
.reply__column i {
  font-size: 30px;
  opacity: 0.7;
}
.reply__column input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  border: 1.5px solid rgb(185, 185, 185);
  border-radius: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 20px;
  font-size: 28px;
}
.reply__column:last-child > i {
  right: 79px;
  top: 13px;
}
.reply__column:last-child button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: yellow;
  top: 10px;
}

.reply:focus-within .reply__column:first-child {
  opacity: 0;
}
.reply input:focus-within {
  width: 95vw;
  transform: translateX(-10%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
