.friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  font-size: 17px;
  padding: 15px 0px;
  margin-bottom: 15px;
  margin-top: -15px;
}
.friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 20px;
  border-top: var(--border);
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
@keyframes SplashScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  animation: SplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
