.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
  margin-bottom: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.alt-header__title {
  font-size: 30px;
  font-weight: 800;
}
.alt-header__column {
  font-size: 22px;
  width: 33%;
}
.alt-header__column:first-child {
  display: flex;
  justify-content: flex-start;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__column span:last-child {
  margin-left: 30px;
}
