@keyframes badgeflip {
  0% {
    transform: none;
  }
  33% {
    transform: translateY(-5px) rotateY(60deg);
  }
  66% {
    transform: translateY(-5px) rotateY(-60deg);
  }
  100% {
    transform: none;
  }
}
.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: badgeflip 1s infinite;
}
