#no-mobile {
  position: fixed;
  z-index: 99;
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}

@media screen and (max-width: 700px){
    #no-mobile {
        display: none;
}